@charset "UTF-8";
/* 將大部分標籤的預設樣式重製成以下的內容 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* 賦予 HTML5 標籤基本的 Display:block ，用於輔助舊的瀏覽器能正常顯示 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/* 將 body 也就是整體的文字行高預設成 1 */
body {
  line-height: 1;
}

/* 取消項目列表預設的輔助符號 */
ol,
ul {
  list-style: none;
}

/* 隱藏引用標籤預設的引號(部分瀏覽器有) */
blockquote,
q {
  quotes: none;
}

/* 重置引用標籤的偽元素 */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

/* 將表格初始化 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

.film #timelineList .timelineList__container, .film, .type__container .type__title > .title__container, .type__container .type__title, .type__container, .main, header .title__container .ZHtitle__contaitner {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  background-color: #1E646A;
  font-family: "Noto Sans TC", sans-serif;
  font-family: "Alata", sans-serif;
}

.background__line {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  mix-blend-mode: soft-light;
  opacity: 0.58;
  z-index: -10;
}
.background__line img {
  width: 100vw;
  height: 100vh;
  background-size: s;
}

@media screen and (max-width: 900px) {
  #navbar, #footer {
    display: none;
  }

  #navbar__mobile, #footer__mobile {
    display: block;
  }
}
header .title__container {
  position: relative;
  margin: 145px auto 0vh auto;
  width: 85%;
  font-weight: 700;
  font-size: 10rem;
  color: #D3D6B1;
}
header .title__container h1 {
  font-weight: 400;
  font-size: 56px;
  line-height: 77px;
}
header .title__container .ZHtitle__contaitner {
  justify-content: flex-start;
  margin-left: 140px;
}
header .title__container .ZHtitle__contaitner h2 {
  position: relative;
  top: 0px;
  font-size: 30px;
  line-height: 40px;
  margin: 0 16px;
  color: #FFFFFF;
  font-weight: 500;
}
header .title__container .ZHtitle__contaitner .ZHtitle__line {
  position: relative;
  top: 0px;
  width: 3px;
  height: 30px;
  background-color: #6AB5B9;
}

@media screen and (max-width: 900px) {
  header {
    transform: scale(0.75) translateX(-17%);
  }
}
.main {
  position: relative;
  flex-direction: column;
  margin: 50px auto 200px auto;
  width: 90%;
  max-width: 1200px;
  height: fit-content;
}

.symbols {
  position: absolute;
  color: white;
  top: 20px;
  right: 0px;
}

.type__container {
  width: 100%;
  margin: 50px 0 20px 0;
}
.type__container .type__title {
  width: 350px;
  height: 260px;
  border-radius: 30px;
  overflow: hidden;
  position: relative;
  background-color: rgba(71, 71, 71, 0.5);
  transition: 1s background-color;
}
.type__container .type__title > img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  z-index: -2;
  transition: 0.5s transform;
}
.type__container .type__title p {
  text-align: center;
}
.type__container .type__title i {
  transition: 0.5s transform;
}
@media screen and (max-width: 900px) {
  .type__container .type__title .title__container p {
    font-size: 16px;
    font-weight: 700;
  }
}
.type__container .type__title:hover, .type__container .type__title.active {
  background-color: rgba(71, 71, 71, 0.2);
}
.type__container .type__title:hover > img, .type__container .type__title.active > img {
  transform: scale(1.1, 1.1);
}
.type__container .type__title:hover i, .type__container .type__title.active i {
  transform: rotateX(180deg);
}
.type__container .type__title > .title__container {
  position: absolute;
  flex-direction: column;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  z-index: 10;
  font-size: 2rem;
}
.type__container .type__line {
  border: 0.5px solid rgba(255, 255, 255, 0.4);
  width: 0px;
  height: 200px;
  margin: 0 4%;
}

.film {
  width: 88vw;
  max-width: 1200px;
  border-bottom: 1px solid #FFFFFF;
}
.film p {
  flex: 1;
  margin: 10px;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 300;
  line-height: 32px;
}
.film p a {
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 1.2rem;
  padding: 0 10px 0 0;
  transition-duration: 0.3s;
}
.film p a:hover {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 5px;
}
.film #timelineList {
  text-align: right;
  padding: 10px;
  width: 25%;
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.film #timelineList .timelineList__container {
  background-color: #6AB5B9;
  margin: 5px;
  padding: 4px 5px;
  justify-content: space-between;
}
.film #timelineList .timelineList__container span {
  padding: 0 5px;
  color: #FFFFFF;
  overflow: hidden;
  text-overflow: ellipsis;
}
.film #timelineList .timelineList__container .timelineCinema {
  flex: 1;
}
.film #timelineList .timelineList__container .timelineFav {
  cursor: pointer;
  color: rgba(0, 0, 0, 0.2);
  transition-duration: 0.2s;
  font-size: 1.2rem;
}
.film #timelineList .timelineList__container .timelineFav.active {
  color: #EA5136;
}

@media screen and (max-width: 900px) {
  .film p {
    display: flex;
    flex-direction: column;
  }
  .film p a {
    width: 50%;
    white-space: nowrap;
  }
  .film #timelineList {
    width: 50%;
  }
}
@media screen and (max-width: 490px) {
  .film #timelineList {
    width: 50%;
  }
  .film #timelineList .timelineList__container {
    flex-wrap: wrap;
  }
  .film #timelineList .timelineList__container span:nth-child(2) {
    overflow: visible;
    width: 50%;
    white-space: nowrap;
  }
  .film #timelineList .timelineList__container span:nth-child(3) {
    overflow: visible;
    width: fit-content;
    white-space: nowrap;
    text-align: left;
  }
}/*# sourceMappingURL=style.css.map */2rem;
  margin-left: 10px;
}
.film__container #film__name .film__fav.active {
  color: #EA5136;
}
.film__container #film__time {
  font-size: 0.5rem;
  font-weight: 300;
}

.timeline__chooseStart, .timeline__dataError, .timeline__cinemaError {
  font-size: 84px;
  color: rgba(255, 255, 255, 0.3);
  margin: 10vh;
  display: none;
}
.timeline__chooseStart h1, .timeline__dataError h1, .timeline__cinemaError h1 {
  text-align: center;
}
.timeline__chooseStart.active, .timeline__dataError.active, .timeline__cinemaError.active {
  display: block;
}/*# sourceMappingURL=style.css.map */ent__container > p a {
  text-align: center;
  text-decoration: none;
  font-weight: 900;
  color: black;
}
.film__content__container > p a::before {
  position: absolute;
  content: "";
  left: 0px;
  bottom: -4px;
  width: 0%;
  height: 2px;
  background-color: #adb36e;
  transition-duration: 0.3s;
}
.film__content__container > p a:hover::before {
  width: 100%;
}
.film__content__container > span {
  font-size: 0.5rem;
  margin: 2px 0;
}
.film__content__container .film__delete {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  color: #FFFFFF;
  width: 13px;
  height: 13px;
  line-height: 10px;
  text-align: center;
  bottom: 2px;
  right: 5px;
  cursor: pointer;
}/*# sourceMappingURL=style.css.map */ntainer .footer__button {
  margin-bottom: 12px;
  font-size: 8.375px;
  font-weight: 700;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}
.footer__button__container .footer__button .footer__button__menu a {
  margin-left: 8px;
  width: 48px;
  text-align: center;
  cursor: pointer;
}
.footer__button__container .footer__button .footer__button__menu a p {
  white-space: nowrap;
  overflow: hidden;
  color: #E1E1E1;
}

.footer__copyright {
  width: fit-content;
  font-size: 8px;
}
.footer__copyright p {
  line-height: 22px;
}

.footer__share__mobile {
  width: fit-content;
}
.footer__share__mobile a {
  text-decoration: none;
  margin-left: 8px;
  border: white solid 1px;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  font-family: arial;
}
.footer__share__mobile a i {
  color: #D3D6B1;
}/*# sourceMappingURL=style.css.map */eight: 28px;
  color: #535353;
}
.latest__news__container .news-list__item .news-list__background a .news-thumbnail__detail .news-thumbnail__time {
  padding: 12px 8px;
  font-size: 16px;
  font-weight: 300;
  color: gray;
}

@media screen and (max-width: 900px) {
  .latest__news__container {
    justify-content: space-around;
  }
}
.latest__more {
  align-items: flex-start;
  height: 10vh;
  width: 100%;
  z-index: 2;
}
.latest__more a {
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
  color: #FFFFFF;
  border: 1px solid white;
  border-radius: 50px;
  padding: 10px 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition-duration: 0.3s;
}
.latest__more a:hover {
  background-color: #FFFFFF;
  color: #D3D6B1;
}

.whatsOn__container {
  position: relative;
  top: -10vh;
  height: 65vh;
  width: 60%;
  margin-left: auto;
}
.whatsOn__container .whatsOn__date {
  margin-bottom: 10px;
}
.whatsOn__container .whatsOn__date p {
  color: #FFFFFF;
  font-size: 40px;
  font-weight: 400;
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 1px white;
}
.whatsOn__container .whatsOn__text {
  justify-content: space-between;
  border-bottom: 2px solid #6AB5B9;
  padding: 15px 0;
  position: relative;
}
.whatsOn__container .whatsOn__text::before {
  position: absolute;
  top: -20px;
  left: 0px;
  color: #fff;
  font-size: 0.8em;
  background-color: #EA5136;
  opacity: 0%;
  padding: 5px;
  border-radius: 5px;
  content: "連結僅示意";
  transition-duration: 0.3s;
}
.whatsOn__container .whatsOn__text p {
  font-weight: 900;
  font-size: 18px;
  color: white;
  transition-duration: 0.3s;
  line-height: 24px;
}
.whatsOn__container .whatsOn__text a {
  font-size: 18px;
  color: white;
  transition-duration: 0.3s;
}
.whatsOn__container .whatsOn__text:hover {
  cursor: pointer;
}
.whatsOn__container .whatsOn__text:hover p, .whatsOn__container .whatsOn__text:hover i {
  color: #D3D6B1;
  cursor: pointer;
}
.whatsOn__container .whatsOn__text:hover::before {
  opacity: 100%;
}
.whatsOn__container .whatsOn__more {
  justify-content: flex-end;
  height: 10vh;
  width: 100%;
}
.whatsOn__container .whatsOn__more a {
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
  color: #FFFFFF;
  border: 1px solid white;
  border-radius: 50px;
  padding: 10px 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition-duration: 0.3s;
}
.whatsOn__container .whatsOn__more a:hover {
  background-color: #FFFFFF;
  color: #D3D6B1;
}

.whatsOn__img {
  position: relative;
  height: 0vh;
  width: 100%;
}
.whatsOn__img img {
  position: absolute;
  object-fit: cover;
  bottom: 0px;
  left: -10%;
  width: 35%;
  min-width: 240px;
  height: 35vh;
  border-radius: 0 50px 15px 0;
}

.whatsOn__cone {
  position: relative;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  height: 25vh;
  width: 25%;
  margin-left: auto;
}
.whatsOn__cone img {
  position: absolute;
  bottom: -75px;
  width: 150px;
}

@media screen and (max-width: 900px) {
  .whatsOn__container {
    top: 40px;
    width: 100%;
    margin: auto;
  }

  .whatsOn__img img {
    position: absolute;
    object-fit: cover;
    bottom: -200px;
    left: -10%;
    width: 50%;
    height: 20vh;
    border-radius: 0 50px 15px 0;
  }

  .whatsOn__cone img {
    width: 70px;
    bottom: -150px;
  }
}
.aboutFilmFes__container {
  position: relative;
  top: -10vh;
  height: 70vh;
  width: 55%;
  margin-left: auto;
}
.aboutFilmFes__container .aboutFilmFes__bg {
  height: 500px;
  width: 500px;
  border-radius: 50%;
  border: 1px solid white;
  align-items: flex-end;
}
.aboutFilmFes__container .aboutFilmFes__logo img {
  position: absolute;
  top: -10px;
  left: 55%;
  width: 150px;
}
.aboutFilmFes__container .aboutFilmFes__text {
  justify-content: space-between;
  flex-direction: column;
  position: absolute;
  top: 150px;
  width: 80%;
  margin-left: 10%;
  line-height: 48px;
}
.aboutFilmFes__container .aboutFilmFes__text p {
  font-weight: 300;
  font-size: 22px;
  color: white;
}
.aboutFilmFes__container .aboutFilmFes__text .aboutFilmFes__more {
  margin-top: 8px;
}
.aboutFilmFes__container .aboutFilmFes__text .aboutFilmFes__more a {
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
  color: #FFFFFF;
  border: 1px solid white;
  border-radius: 50px;
  padding: 10px 15px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  transition-duration: 0.3s;
}
.aboutFilmFes__container .aboutFilmFes__text .aboutFilmFes__more a:hover {
  background-color: #FFFFFF;
  color: #D3D6B1;
}

.aboutFilmFes__img {
  position: relative;
  height: 0vh;
  width: 100%;
}
.aboutFilmFes__img #img__horse {
  position: absolute;
  object-fit: cover;
  width: 200px;
  right: 66%;
  bottom: 30vh;
  z-index: 1;
}
.aboutFilmFes__img #img__text {
  position: absolute;
  object-fit: cover;
  width: 250px;
  right: 50%;
  bottom: 10vh;
}

@media screen and (max-width: 900px) {
  .aboutFilmFes__container {
    top: 40px;
    width: 100%;
  }

  .aboutFilmFes__bg {
    margin: auto;
    height: 300px;
    width: 300px;
  }

  .aboutFilmFes__img #img__horse {
    width: 120px;
    left: 10%;
    bottom: -150px;
  }
  .aboutFilmFes__img #img__text {
    width: 150px;
    left: 40%;
    bottom: -220px;
  }
}
@media screen and (max-width: 600px) {
  .aboutFilmFes__container .aboutFilmFes__text {
    top: 120px;
  }
  .aboutFilmFes__container .aboutFilmFes__text p {
    font-size: 16px;
    line-height: 36px;
  }
}
.manual__img {
  position: relative;
  height: 0vh;
  width: 100%;
}
.manual__img #manualCornP {
  position: absolute;
  right: 10px;
  top: -130px;
  transform: scale(0.3);
}
.manual__img #manualCornG {
  position: absolute;
  right: 60px;
  top: -100px;
  transform: scale(0.25) rotate(30deg);
}

.manual__container {
  position: relative;
  height: 70vh;
  width: 80%;
  margin: auto;
}
.manual__container > img {
  width: 100%;
}

@media screen and (max-width: 900px) {
  .manual__container > img {
    width: 160%;
  }

  .manual__img #manualCornP {
    right: -70px;
    top: -65px;
  }
  .manual__img #manualCornG {
    right: -40px;
    top: -55px;
  }
}
@media screen and (max-width: 550px) {
  .manual__container > img {
    width: 250%;
  }
}
.manual {
  margin-bottom: 0 !important;
}

.getIt {
  margin-top: 0 !important;
}
.getIt .title__container {
  height: 20vh !important;
}
@media screen and (max-width: 500px) {
  .getIt .title__container {
    height: 5vh !important;
  }
}

.getIt__container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  color: #FFFFFF;
  z-index: 50;
}
.getIt__container .getIt__container__vertical {
  width: 30%;
}
.getIt__container .getIt__container__vertical .getIt__container__card {
  background-color: #6AB5B9;
  padding: 20px;
  border-radius: 10px;
  margin-top: 40px;
}
.getIt__container .getIt__container__vertical .getIt__container__card .getIt__container__title {
  font-size: 18px;
  margin-bottom: 16px;
}
.getIt__container .getIt__container__vertical .getIt__container__card .getIt__container__content {
  display: flex;
  align-items: stretch;
}
.getIt__container .getIt__container__vertical .getIt__container__card .getIt__container__content .getIt__container__line {
  width: 1.5px;
  background-color: #fff;
  margin: 5px 10px;
}
.getIt__container .getIt__container__vertical .getIt__container__card .getIt__container__content .getIt__container__text__container {
  display: flex;
  flex-direction: column;
}
.getIt__container .getIt__container__vertical .getIt__container__card .getIt__container__content .getIt__container__text__container .getIt__container__text {
  padding: 12px 0;
  font-size: 14px;
}
.getIt__container .getIt__container__vertical .getIt__container__card .getIt__container__icon {
  position: relative;
  width: 100%;
  height: 0;
}
.getIt__container .getIt__container__vertical .getIt__container__card .getIt__container__icon img, .getIt__container .getIt__container__vertical .getIt__container__card .getIt__container__icon svg {
  position: absolute;
  right: 0;
  bottom: 0rem;
  width: 40px;
  margin: 10px;
  fill: white;
}
.getIt__container .getIt__container__vertical .getIt__container__card .getIt__container__icon #iconPlace {
  height: 40px;
}
@media screen and (max-width: 900px) {
  .getIt__container .getIt__container__vertical .getIt__container__card .getIt__container__icon img, .getIt__container .getIt__container__vertical .getIt__container__card .getIt__container__icon svg {
    margin: 0;
  }
}

@media screen and (max-width: 900px) {
  .getIt__container {
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .getIt__container__vertical {
    width: 30%;
    min-width: 300px;
  }
}
#getItDownload * {
  cursor: pointer;
}

#getItDownload > .getIt__container__card:hover .getIt__container__line {
  background-color: #D3D6B1;
  transition-duration: 0.3s;
}
#getItDownload > .getIt__container__card:hover .getIt__container__text {
  color: #D3D6B1;
  transition-duration: 0.3s;
}
#getItDownload > .getIt__container__card:hover svg {
  fill: #D3D6B1;
  transition-duration: 0.3s;
}

.sponsor {
  position: relative;
  width: 100%;
  bottom: 0px;
  background-color: #6AB5B9;
  flex-direction: column;
  z-index: 10;
}
.sponsor .sponsor__title {
  margin-top: 50px;
}
.sponsor .sponsor__title__EN {
  text-align: center;
  font-size: 20px;
  color: #D3D6B1;
}
.sponsor .sponsor__title__ZH {
  text-align: center;
  font-size: 24px;
  color: #FFFFFF;
  margin-top: 8px;
}
.sponsor .sponsor__icon {
  flex-wrap: wrap;
  margin: 40px 0 50px 0;
}

.sponsor__background {
  position: absolute;
  width: 100%;
  top: 0px;
}
.sponsor__background #tail__getIt {
  position: absolute;
  bottom: 0vh;
  right: 0;
  width: 50%;
}/*# sourceMappingURL=style.css.map */